<div class="row">
	<div class="col-sm-12 center">
		<span class="app-page-header">Elime's Pic Editor</span>
	</div>
</div>
<div class="row">
	<div class="col-md-12 center">
		<img class="app-image" src="img/pic-editor/pic-editor.png"
	</div>
</div>
<div class="row">
	<div class="offset-md-2 col-md-4">
		<div class="tile" ng-click="vm.goTo('https://github.com/Elime1/pic-editor/releases')">
			<h3 class="tile-header">Download</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="tile" ng-click="vm.goTo('https://github.com/Elime1/pic-editor')">
			<h3 class="tile-header">Source</h3>
		</div>
	</div>
</div>
